<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application" %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
